<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Formulário Flask</title>
</head>
<body>
    <h2>Preencha o formulário</h2>
    <form method="POST" action="/" novalidate>
        {{ formulario.hidden_tag() }}
        <div>
            {{ formulario.nome.label }}<br>
            {{ formulario.nome(size=32) }}<br>
            {% if formulario.nome.errors %}
                <div class="error">
                    <ul>
                        {% for error in formulario.nome.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div>
            {{ formulario.email.label }}<br>
            {{ formulario.email(size=32) }}<br>
            {% if formulario.email.errors %}
            <div class="error">
                <ul>
                    {% for error in formulario.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        </div>
        <div>
            {{ formulario.idade.label }}<br>
            {{ formulario.idade() }}<br>
            {% if formulario.idade.errors %}
            <div class="error">
                <ul>
                    {% for error in formulario.idade.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        </div>
        <div>
            {{ formulario.mensagem.label }}<br>
            {{ formulario.mensagem() }}<br>
            {% if formulario.mensagem.errors %}
            <div class="error">
                <ul>
                    {% for error in formulario.mensagem.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        </div>
        <div>
            {{ formulario.enviar() }}
        </div>
    </form>
</body>
</html>